.page-header {
    background-color: #4c9fc7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font-weight: 900;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    font-family: 'Open Sans';
}

h1, h2, h3, h4 {
    font-family: 'Advent Pro', sans-serif;
}

.date {
    color: #b3b3b3;
    font-size: 0.8em;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #4c9fc7;
}
